html, body {
    -webkit-font-smoothing: antialiased;
}
body {
    color: #666;
    margin: 0px;
    line-height: 1.5em;
}
.navbar {
    border-radius:0px;
}
.album {
    background: #eee;
}
img {
    max-width:100%;
}
.card {
    margin-right:2.5%;
    margin-bottom:5%;
    padding:0px;    
    box-shadow: 0 2px 0 #D9E1E7;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.full {
    float:left;
    width:70%;
}
.card.full.right {
    float:left;
    width:27.5%;
    margin-right:0%;
}
.card > img {
    margin-bottom:0px;
}
.card p {
    word-wrap: break-word;
}

.stats {
    padding:0px;
    margin:0px;
}
.stats li{
    margin-right:10px;
    list-style:none;
    float:left;
}
.stats li i{
    padding-right:5px;   
}
.stats li.right{
    float:right;
}

.stats .date {
    text-transform: uppercase;
    font-size:12px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}