{% extends "base.html" %}

{% block heading %}
{% include "cover.html" %}
{% endblock %}

{% block content %}
<div class="card-columns">
{% for post in posts %}
<div class="card">
    {% if post.image %}
        <img class="card-img-top" src="{{post.image}}" alt="{{post.image}}">
    {% endif %}
    <div class="card-block">
    <h4 class="card-title">{{post.title}}</h4>
        <p class="card-text">{{post.content[:300]}}</p>
        <ul class="stats">
        <li><i class="fa fa-heart-o"></i></li>
        <li><i class="fa fa-comment-o"></i>{%if post.comments > 0 %}{{post.comments}} {% endif %}</li>
        <li class="right date"><a href="post/{{post.key().id()}}"><i class="fa fa-calendar"></i>{{date}}</a></li>
        </ul>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
