{% extends "base.html" %}
{% block content %}
<div class="card full">
  {% if post.image %}
  <img class="card-img-top" src="{{post.image}}" alt="{{post.image}}">
  {% endif %}
  <div class="card-block">
    <h4 class="card-title">{{post.title}}</h4>
    <p class="card-text">by {{post.username}}</p>
    <p class="card-text">{{post.content}}</p>
    <ul class="stats">
    {%if post.likes != None and post.likes != 0 %}<li class="like"><i class="fa fa-heart-o"></i> {{post.likes}}</li>{% endif %}
    {%if post.comments > 0 %}<li><i class="fa fa-comment-o"></i>{{post.comments}}</li>{% endif %}
    {% if post.username != username and username %}
    {% if liked == True and likeId != None %}
    <li>
        <form action="/post/{{post.key().id()}}/unlike" method="POST" id="unlikeForm">
            <input type="hidden" name="unlikePost" value="{{likeId}}">
            <button type="submit" class="btn btn-outline-danger btn-sm" form="unlikeForm"><i class="fa fa-heart"></i>Unlike</button>
        </form>   
    </li>
    {% else %}
    <li>
        <form action="/post/{{post.key().id()}}/like" method="POST" id="likeForm">
            <input type="hidden" name="likePost" value="{{post.key().id()}}">
            <button type="submit" class="btn btn-outline-success btn-sm" form="likeForm"><i class="fa fa-heart"></i>Like</button>
        </form>   
    </li>
    {% endif %}
    {% endif %}
    {% if post.username == username %}
    <li><button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editPostModal"><i class="fa fa-edit"></i>Edit</button></li>
    <li>
        <form action="/post/{{post.key().id()}}/delete" id="deletePost" method="POST">
            <input type="hidden" name="deletePost" value="Delete">
        </form>
        <button type="submit" class="btn btn-outline-danger btn-sm" form="deletePost"><i class="fa fa-remove"></i>Delete</button>
    </li>
      {% endif %}
    <li class="right date"><i class="fa fa-calendar"></i>{{date}}</li>
    </ul>
  </div>
</div>
{% for comment in comments %}  
<div class="card full comments">
  <div class="card-block">
    <ul class="stats comments">
      <li class="date comments"><strong>{{comment.username}}</strong> Commented on &nbsp;<i class="fa fa-calendar"></i>{{comment.created}}</li>
    </ul>
    <p class="card-text">{{comment.comment}}</p>
    {% if username == comment.username %}
    <ul class="stats">
      <li><button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editCommentModal_{{comment.key().id()}}"><i class="fa fa-edit"></i>Edit</button>
      </li>
      <li><form action="/post/{{post.key().id()}}/deleteComment" id="deleteComment" method="POST">
        <input type="hidden" name="commentId" value="{{comment.key().id()}}">
        </form>
          <button type="submit" class="btn btn-outline-danger btn-sm" form="deleteComment"><i class="fa fa-remove"></i>Delete</button>
        </li>
    </ul>
    {% endif %}
  </div>
</div>
{% endfor %}
<div class="card full">
  <div class="card-block">
    {% if not username %}
    <p class="card-text"><a href="/login">Login</a> or <a href="/signup">Register</a> to add comments</p>
    {% endif %}
    {% if username %}
    <h4 class="card-title">Add Comment</h4>
    <form action="/post/{{post.key().id()}}/addComment" method="POST">
      <div class="form-group">
        <textarea type="text" class="form-control" name="content" required>{{content}}</textarea>
      </div>
      <div class="error">{{error}}</div>
      <input type="submit" class="btn btn-outline-primary">
    </form>
    {% endif %}
  </div>
</div>
{% if post.username == username %}
<!-- Modal for Editing Post-->
<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit Post</h4>
      </div>
      <div class="modal-body">
        <form action="/post/{{post.key().id()}}/edit" method="POST" id="editContent">
          <div class="form-group row">
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Title" name="editTitle" value="{{post.title}}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Image URL" name="editImage" value="{% if post.image %} {{post.image}} {% endif %}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <textarea type="text" class="form-control" rows="8" name="editContent">{{post.content}}</textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="editContent">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% for comment in comments %}
{% if comment.username == username %}
<!-- Modal for Editing Comment-->
<div class="modal fade" id="editCommentModal_{{comment.key().id()}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit Comment</h4>
      </div>
      <div class="modal-body">
        <form action="/post/{{post.key().id()}}/editComment" method="POST" id="editComment">
          <div class="form-group row">
            <div class="col-sm-10">
              <textarea type="text" class="form-control" rows="8" name="editComment">{{comment.comment}}</textarea>
              <input type="hidden" name="commentId" value="{{comment.key().id()}}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" name="editComment" value="Save changes">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}